@import url('https://fonts.googleapis.com/css?family=Bangers|Do+Hyeon|Kanit|Teko&display=swap');
$background: #3c3f4c;
$background-bars: #252528;
$foreground: #ededed;
$accent: #f9f871;
$alt-accent: #b2bfd9;
$ff-title: 'Bangers', sans-serif;
$ff-body: 'Do Hyeon', serif;
$ff-code: 'Teko', monospace;
