h1 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 4.25rem;
  line-height: 1.1;
  text-shadow: 0.18rem 0.18rem #8b8dab;
}
h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  text-shadow: 0.18rem 0.18rem #8b8dab;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
  line-height: 1.1;
}
h3 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  text-shadow: 0.18rem 0.18rem #8b8dab;

  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}
h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  text-shadow: 0.18rem 0.18rem #8b8dab;

  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.1;
}
h5 {
  padding: 0;
  margin: 0 0 1.45rem;
  text-shadow: 0.18rem 0.18rem #8b8dab;

  color: inherit;
  font-family: $ff-title;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  text-shadow: 0.18rem 0.18rem #8b8dab;

  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  padding: 0;
  font-family: $ff-title;
  margin: 0 0 1.45rem;
}
