.sidebar-flex {
  flex-grow: 1;
  max-width: 300px;
  min-height: 100vh;
  background: #272c35;
  color: #ededed;
  border-right: #ededed solid 0.25rem;
}

.nav-link,
.nav-directory {
  color: #ededed;

  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:hover,
.nav-directory:hover {
  background-color: #2c333d;
  color: #ededed;
}

.nav-link:focus {
  color: inherit;
}

.nav {
  padding: 2px 2px;
}
