b,
strong {
  font-weight: 900;
}
dfn {
  font-style: italic;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

address {
  padding: 0;
  margin: 0 0 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
