tt,
code {
  background-color: $background-bars;
  color: $foreground;
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  font-size: 0.85rem;
  line-height: 1.45rem;
  padding: 0.2em 0;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

figure {
  padding: 0;
  margin: 0 0 1.45rem;
}
pre {
  margin: 0 0 1.45rem;
  line-height: 1.42;
  font-weight: 900;
  font-size: 90%;
  border-radius: 3px;
  border: solid $foreground 0.125rem;
  overflow: auto;
  word-wrap: normal;
  background-color: $background-bars;
  font-family: $ff-code;
  color: $foreground;
  padding: 1.45rem;
}
blockquote {
  padding: 0;
  margin: 0 1.45rem 1.45rem;
}
