/* Layout Classes */
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
.container-flex {
  display: flex;
  flex-direction: row;
  clear: both;
}
html {
  font-family: monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  clear: both;
}

body {
  color: #ededed;
  background: #3c3f4c;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  margin: 0;
  font-family: $ff-body;
  font-size: 110%;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  clear: both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

.content-flex {
  flex-grow: 3;
  margin: 1.5rem auto;
  padding: 0 1.0875rem 1.45rem;
}
