.sidebar-flex {
  flex-grow: 1;
  min-height: 100vh;
  width: 100% !important;
  background: $background-bars;
  border-right: $foreground solid 0.25rem;
  display: flex;
  flex-direction: column;
}

.nav-link,
.nav-item,
.nav-directory {
  font-size: 1.5rem;
  text-shadow: 0.18rem 0.18rem #8b8dab;
  color: $foreground;
  text-decoration: none;
  box-shadow: none;
  width: 100%;
}
.btn {
  width: 100%;
  background: $background;
  box-shadow: none !important;
}
.btn:hover {
  color: $accent;
}

.nav {
  box-shadow: none !important;
  width: 100%;
}

/* Kendo Treeview Overrides */
.k-in {
  background: $background-bars;
  box-shadow: none;
  width: 100%;
}

.k-in:hover {
  background: $background-bars !important;
  box-shadow: none;
}

.k-treeview .k-in.k-state-focused {
  box-shadow: none !important;
  background: $background-bars !important;
  border: none !important;
}
